* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('/images/adult-1850925.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

/* Header (Navigation Menu) */
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    /* border: 2px solid red; */
    background-color: black;
    opacity: 0.8;

}
.logo a img{
    width: 110px;
    height: 80px;
    filter: invert();
}
.logo h3{
    text-align: center;
    color: white;
    font-size: 30px;
}
.menu{
    display: flex;
}
.menu li{
    flex-direction: row;
    list-style-type: none;
}
.menu li a{
    text-decoration: none;
    margin: 14px 18px;
    color: white;
    font-size: 20px;
}
